html {
  font-size: 18pt;
}
main {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}
h1,
h2,
h3 {
  font-family: sans-serif;
  font-weight: normal;
}
dl.table {
  display: table;
}
dl.table > div {
  display: table-row;
}
dl.table > div > dt,
dl.table > div > dd {
  display: table-cell;
}
dl.terms > div > dt {
  font-weight: bold;
  text-align: right;
  padding-right: 0.5em;
}
